#convertor{
  @include box-shadow(0 4px 6px 0 hsla(0%, 0%, 0%, 0.2));
  background-color: $grey;
  border-radius: 10px;
  height: calc(100vh - 40px);
  max-height: 767px;
  form{
    height: 100%;
    padding: 20px;
    overflow: hidden;
    @include box-sizing(border-box);
  }
  .choiceDevise{
    margin-bottom: 20px;
    text-align: center;
    label{
      margin-right: 10px;
    }
  }
  .container{
    width: 100%;
    height: calc(100% - 120px);
    @include box-sizing(border-box);
    display: none;
    & > div:last-of-type {
      height: 100%;
      @include flexbox();
      @include align-items(center);
      @include justify-content(space-between);
      @include flex-flow(column wrap);
    }
    &.resultat .content{
      background-color: $white;
      height: 100%;
      @include flexbox();
      @include align-items(center);
      @include justify-content(center);
      @include flex-flow(column wrap);
    }
    &.active{
      display: block;
    }
    .content{
      width: 100%;
      height: calc(100% - 70px);
      overflow-y: auto;
      overflow-x: hidden;
    }
    h1{
      font-size: 70px;
      &:after{
        content: '';
        width: 50px;
        height: 5px;
        background-color: $green;
        display: block;
        margin:  20px auto 0px;
      }
      span{
        font-size: 50px;
        font-weight: 300;
      }
    }
    .addProductBlock{
      cursor: pointer;
      position: absolute;
      bottom: 100px;
      right: 20px;
      background-color: $purple;
      color: $white;
      height: 60px;
      width: 60px;
      @include flexbox();
      @include align-items(center);
      @include justify-content(center);
      border-radius: 100%;
      @include box-shadow(0 4px 6px 0 hsla(0%, 0%, 0%, 0.2));
      z-index: 9999;
    }
    .input_convert{
      background-color: $green;
      color: $white;
      width: 100%;
      display: block;
      padding: 15px;
      font-size: 14px;
      font-weight: 700;
      border-radius: 10px;
      margin-top: 20px;
    }
  }
}
