body{
  font-family:  $Raleway;
  color: $black;
  font-weight: normal;
  font-size: 16px;
  overflow-x: hidden;
  background-color: #8EC5FC;
  background-image: -webkit-linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);
  background-image: -moz-linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);
  background-image: -o-linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);
  background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);
}

.main{
  min-width: 400px;
  max-width: 400px;
  position: absolute;
  top: 50%;
  left: 50%;
  @include transform(translate(-50%,-50%));
  @media #{$mobile} {
    min-width: 90%;
  }
}

input{
  border: 0px;
  &:focus{
    outline: none;
  }
  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  &[type=number] {
    -moz-appearance:textfield
  }
}
