@import "fonts";

/* COLROS */
$white : #ffffff;
$grey : #F2F5FC;
$black: #2B3439;
$green : #7CDDC5;
$purple : #8573E5;

/*TYPO*/
$Raleway: "Raleway", serif;


/**** RESPONSIVE ****/
$mobile: "screen and (max-width: 767px)";
$tablet: "screen and (max-width: 1024px)";
$desktop: "(min-width: 1024px)";
